
{{ $bundleRaw := resources.Get "sass/styles.sass" }}


{{ $bundle := $bundleRaw | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint}}
<link rel="stylesheet" href="{{ $bundle.Permalink }}" crossorigin="anonymous" media="screen"
	integrity="{{ $bundle.Data.Integrity }}">

{{/* Blog post page syntax highlightning */}}
{{ if eq .Type "blog" }}
{{ $syntax := resources.Get "css/syntax.css" }}
{{ $syntax = $syntax | resources.Minify | fingerprint "md5" }}
<link rel="stylesheet" href="{{ $syntax.Permalink }}" crossorigin="anonymous" integrity="{{ $syntax.Data.Integrity }}" media="screen">
{{ end }}

