{{ define "main" }}
{{ partial "single-title-header.html" . }}
{{ $p := .Paginate (.Pages.ByDate.Reverse) 9}}
    {{/*  <nav class="pagination" role="navigation" aria-label="pagination">
    {{ template "_internal/pagination.html" .}}
    </nav>  */}}
    <ul class="mb-2">
        {{ range $p.Pages }}
            <li class="block">
                <a aria-label="{{ .Title }}-{{ .Date.Format `2006-01-02` }}" href="{{.RelPermalink}}#article">
                    <div class="post_list_item">
                        <div class="title is-4">{{ .Title }}</div>
                        <div class="subtitle is-6">{{ .Date.Format "2006-01-02" }}</div>
                        <div class="summary content is-size-6">
                            {{ .Summary }}
                        </div>
                    </div>
                </a>
            </li>
        {{ end }}
    </ul>
    {{ partial "pagination-station.html" (dict "p" $p "s" .Scratch) }}
{{ end }}