{{ $page := . }}

<header class="navbar is-fixed-bottom theme-dark-nav">
	{{/* Pico responsive icon (square and text) */}}
	<div class="navbar-brand">
		<a href="{{ .Site.Home.RelPermalink }}" class="">
			<h1 class="navbar-item title theme-dark-nav">
				{{ .Site.Title }}
			</h1>
		</a>
		{{ if .IsTranslated }}
		<div class="navbar-item">
			{{ range .Translations }}
			<a href="{{ .RelPermalink }}" class="">
				<span class="">
					{{ .Language | upper }}
				</span>
			</a>
			{{ end }}
		</div>
		
		{{ end }}
		<a role="button" class="navbar-burger theme-dark-nav is-size-4" aria-label="menu" aria-expanded="false" data-target="navMenu">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>
	<nav class="navbar-menu theme-dark-nav" id="navMenu">
		<div class="navbar-start">
		</div>
		<div class="navbar-end">
			
			{{ range .Site.Menus.main }}
			<a href="{{ .URL | relLangURL}}"
			class='navbar-item is-size-4 has-text-centered-mobile has-text-right-tablet theme-dark-nav'>
				{{ .Pre }} {{ i18n .Identifier }}
			</a>
			{{ end }}
		</div>
	</nav>
</header>