{{ define "main" }}
    {{ with .Site.GetPage "/home"}}
        {{ $pages := (where (.Resources.ByType "page") "Params.hidden" "ne" true) }}
        {{ $total_len := len $pages }}
        {{ range $index, $st := $pages }}
            {{ $widget := or $st.Params.widget "blank" }}
            {{ $widget_path := printf "widgets/%s.html" $widget}}
            {{ partial $widget_path $st }}
            {{ if and (ne $widget "blank") (lt $index (sub $total_len 1)) }}
                <hr class="">
            {{ else if (eq $index (sub $total_len 1))}}
            {{/*  This floats the final element up above the navbar  */}}
            <span class="is-invisible">&nbsp;</span>
            {{ end }}
        {{ end }}
        {{/*}}
        {{ partial "contact_icons.html" . }}
        {{*/}}
    {{ end }}
{{ end }}